body {
  font-family: "Arial";
  font-size: 120%;
}
#blackjack-game {
  padding-top: 0.005vw;
  background-color: black;
  color: white;
}
.bj-card-box {
  border: 1px solid white;
  height: 44vh;
}
.bj-card-box > canvas {
  padding: 5px;
  width: calc(16vh * 0.75);
  height: 16vh;
}
#blackjack-game,#pool-game,#pacman-game,#pingpong-game {
  display: block;
  width: 100vw;
  height: 100vh;
}
