body {
  font-family: "Arial";
  font-size: 120%;
}
.game {
  display: block;
  width: 100vw;
  height: 100vh;
}

#blackjack-game {
  background-color: #111;
  color: white;
}
.bj-card-box {
  border: 1px solid white;
  height: 44vh;
}
.bj-card-box > canvas {
  padding: 5px;
  width: calc(16vh * 0.75);
  height: 16vh;
}

#home-game {
  padding-top: 0.005vh;
  background-color: #333;
  color: white;
}
#home-game > button {
  display: block;
  width: 100vw;
  height: 5vh;
  background-color: #333;
  color: white;
  border: 1px solid white;
  font-size: 200%;
}
#home-help-text {
  text-align: center;
}
button.home-selected {
  border: 5px solid #00ff00 !important;
}
button.home-unavailable {
  color: #999 !important;
}
